#-------------------------------------------------------------------------------
#                                  Common
#-------------------------------------------------------------------------------

* text=auto


#-------------------------------------------------------------------------------
#                              GitHub Linguist
#-------------------------------------------------------------------------------

External/* linguist-vendored
