#-------------------------------------------------------------------------------
#                                   Qt
#-------------------------------------------------------------------------------

/.qmake.cache
/.qmake.stash
*.moc
*.qmlc
*.jsc
*.autosave
*_plugin_import.cpp
*.qmlproject.user
*.pro.user
*.qbs.user
*.qmlproject.user.*
*.pro.user.*
*.qbs.user.*
*build-*
*creator.user*
Makefile*
target_wrapper.*
CMakeLists.txt.user*
object_script.*.Release
object_script.*.Debug
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
compile_commands.json


#-------------------------------------------------------------------------------
#                                    .NET
#-------------------------------------------------------------------------------

[Bb]in/
[Oo]bj/
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
.vs/
.vscode
*.suo
*.user
*.userosscache
*.sln.docstates
*.pyc
*.swp
*.*~
project.lock.json
.DS_Store
msbuild.log
msbuild.err
msbuild.wrn


#-------------------------------------------------------------------------------
#                                JetBrains IDEs
#-------------------------------------------------------------------------------

.idea/
.idea_modules/
out/
cmake-build-*/
*.iws
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics-build.properties
crashlytics.properties
fabric.properties

